* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


#content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.image {
  width: 100%;
  object-fit: contain;
  border: 2px solid #ccc;
}


/* Dashed divider */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted divider */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid divider */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded divider */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

table, tr, th, td {
  border: none;
  width: 100%;
}

/* Image zoom on hover */
/* [1] The container */
.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}
