<!DOCTYPE html>
<html lang="de">
<head prefix="og: https://ogp.me/ns#">
  <title>EasyFlick Homepage</title>

  <meta charset="UTF-8">
  <meta name="keywords" content="EasyFlick, Easy FLick, EZ Flick, Minecraft, Minecraft Ressourcenpakete, Minecraft Resourcepacks, Coding, Java, Plugins, Downloads, Wallpaper">
  <meta name="description" content="Auf der EasyFlick Homepage findest du alle möglichen Downloads zu Minecraft Ressourcenpaketen, Wallpapern und anderen Dingen. Viel Spaß!">
  <meta name="author" content="fab3F">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <base href="https://easyflick.us.to" target="_self">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  
  <link rel="manifest" href="/site.webmanifest">
  
  
  
  <!--Footer Social Media Icons Stylesheet-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  
  <meta property="og:title" content="EasyFlick Homepage" />
  <meta property="og:url" content="https://easyflick.us.to" />
  <meta
    property="og:description"
    content="Auf der EasyFlick Homepage findest du alle möglichen Downloads zu Minecraft Ressourcenpaketen, Wallpapern und anderen Dingen. Viel Spaß!"
  />
  <meta
    property="og:image"
    content="/images/EasyFlick_logo.png"
  />
  <meta name="twitter:site" content="@fab3F_official" />
  <meta
    name="twitter:card"
    content="summary"
  />
  <meta name="twitter:creator" content="@fab3F_official" />
  
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/button.css">
  
  <script src="/js/functions.js"></script>
  <script src="myscripts.js"></script>
  
</head>
  
  
  
  
  
  
  
<body>
</body>
